# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/

# PyCharm
.idea/

# VS Code
.vscode/

# Other files
*.DS_Store
*.env
